extends layout

block content





    //
         Main jumbotron for a primary marketing message or call to action
    .jumbotron
        h1 HELLO MY FRIEND <33 #{title}
        p
            | If you want to see the orders, press the orders button
        p
            a.btn.btn-primary.btn-lg(href='order', role='button') Orders »


